<h1>Contact</h1>
<h2>Email</h2>
<p><a href="mailto:noeldelgado89@hotmail.com?subject=PortfolioContact">noeldelgado89@hotmail.com</a></p>
<h2>Address</h2>
<p>Calle Campeche 233, Condesa, 06100 Ciudad de México, CDMX</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.0824097264945!2d-99.17124038498683!3d19.408844986897734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff4010a95aed%3A0x8e222a87b6117d59!2sNUMA+Startup+Mansion!5e0!3m2!1sen!2smx!4v1499353981029"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
