<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<%= number_to_phone 5555555555 %>
<br>
<%= number_to_currency 130 %>
<br>
<%= number_to_percentage 73.1 %>
<br>
<%= number_with_delimiter 28394234 %>
